html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

header {
  padding-bottom: 1em;
}

header button.start, header button.stop {
    margin-right: 1em;
}


.console {
  flex: 1;
  background-color: black;
  color: lightgreen;
  font-family: monospace;
  overflow-y: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  min-height: 55vh;
  max-height: 70vh;
}

.console p {
  padding: 0em 1em;
  margin-bottom: 0.2em;
}

.console p.error, .console p.failure {
  background-color: crimson;
  color: white;
}

.console p.highlight {
  background-color: gold;
  color: darkslategray;
}

.console p.success {
  background-color: seagreen;
  color: white;
}

.btn {
  background-color: #822036;
}

.btn:hover {
  background-color: #bf2f4f !important;
}

a {
  color: #822036;
}
